#UCF für Papilio Duo
## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

#System Clock
NET CLK_IN          LOC="P94"  |IOSTANDARD=LVTTL;
TIMESPEC TS_CLK_IN = PERIOD "CLK_IN" 32 MHz HIGH 50% INPUT_JITTER 2 ps;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2017/04/12
NET "CLK_IN" TNM_NET = CLK_IN;

#Reset Signale
NET RST_BTN_N_IN LOC="P39"  |IOSTANDARD=LVTTL;
NET AVR_RST_OUT	 LOC="P139" |IOSTANDARD=LVTTL |DRIVE=8;

#UART
NET RXD_IN        LOC="P46"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST;         
NET TXD_OUT       LOC="P141" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST;

#SPI
NET MISO_OUT      LOC="P133"  |IOSTANDARD=LVTTL;
NET MOSI_IN       LOC="P132"  |IOSTANDARD=LVTTL;                               
NET SCLK_IN       LOC="P134"  |IOSTANDARD=LVTTL;                               
NET CS_IN         LOC="P131"  |IOSTANDARD=LVTTL | PULLDOWN;                                

#Ausgang LED-Treiber
NET PIXEL_OUT     LOC="P47"  |IOSTANDARD=LVTTL; 

#Schalter für Automatikmodus
NET AUTO_SWITCH_IN  LOC="P104"  |IOSTANDARD=LVTTL;

#Diagnose LEDs
NET LED_RST_OUT     LOC="P99" | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW;
NET LED_AUTO_OUT    LOC="P98" | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW;
#NET LED_RX_OUT      LOC="P97" | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW;
#NET LED_RUNNING_OUT LOC="P95" | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW;
#NET LED_RUNNING LOC
#NET LED_RUNNING LOC
#NET LED_RUNNING LOC
#NET LED_RUNNING LOC

#Created by Constraints Editor (xc6slx9-tqg144-2) - 2017/04/12
NET "CLK_IN" TNM_NET = CLK_IN;
