#UCF für Papilio Duo
## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

NET CLK_IN          LOC="P94"  |IOSTANDARD=LVTTL;
TIMESPEC TS_CLK_IN = PERIOD "CLK_IN" 32 MHz HIGH 50% INPUT_JITTER 2 ps;
         
NET RXD_IN             LOC="P46" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST;         
NET TXD_OUT             LOC="P141" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST;

NET PIXEL_OUT           LOC="P47"  |IOSTANDARD=LVTTL;                            

NET MISO_OUT          LOC="P133"  |IOSTANDARD=LVTTL;                                                         # A10
NET MOSI_IN          LOC="P132"  |IOSTANDARD=LVTTL;                               
NET SCLK_IN          LOC="P134"  |IOSTANDARD=LVTTL;                               
NET CS_IN          LOC="P131"  |IOSTANDARD=LVTTL;                                

NET AUTO_SWITCH_IN          LOC="P104"  |IOSTANDARD=LVTTL;                                # A14
NET RST_BTN_N_IN          LOC="P100" |IOSTANDARD=LVTTL |PULLUP;                                # A15
NET AUTO_LED_OUT           LOC="P124" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;          # LED1
NET AVR_RST_OUT		LOC="P139" |IOSTANDARD=LVTTL |DRIVE=8;

#Created by Constraints Editor (xc6slx9-tqg144-2) - 2017/04/12
NET "CLK_IN" TNM_NET = CLK_IN;
